@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  max-width: 100%;
}
html {
  color-scheme: dark light;
}
body {
  font-family: Montserrat, Fraunces;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 600px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  display: flex;
}
.product-pic-desktop {
  display: block;
  border-radius: 8px 0 0 8px;
}
.product-pic-mobile {
  display: none;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.product-details {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-details > span {
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}
h1 {
  font-family: Fraunces;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  line-height: 2rem;
}
.info {
  line-height: 1.4rem;
}
.price {
  font-family: Fraunces;
  display: flex;
  gap: 15px;
  align-items: center;
}
.discount-price {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}
.original-price {
  text-decoration: line-through;
}
.add-to-cart {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  border-radius: 8px;
  border: none;
}
.add-to-cart:hover {
  cursor: pointer;
}
.add-to-cart:active {
  background-color: rgb(33, 72, 57);
}
footer {
  padding: 5px;
}
@media (max-width: 600px) {
  .main-container {
    width: 355px;
    height: 650px;
    flex-direction: column;
  }
  .product-pic-mobile {
    display: block;
  }
  .product-pic-desktop {
    display: none;
  }
}
